{% extends "base.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'reviews/css/review_form.css' %}">
<div class="feedback-page">
    <h2 class="feedback-title">
        {% if form.instance.pk %}
        Редактировать отзыв для {{ product.name }}
        {% else %}
        Оставить отзыв для {{ product.name }}
        {% endif %}
    </h2>

    <form method="post" class="feedback-form">
        {% csrf_token %}

        <div class="form-group">
            <label for="{{ form.rating.id_for_label }}">Оценка</label>
            {{ form.rating }}
            {{ form.rating.errors }}
        </div>

        <div class="form-group">
            <label for="{{ form.comment.id_for_label }}">Комментарий</label>
            {{ form.comment }}
            {{ form.comment.errors }}
        </div>

        <button type="submit" class="submit-btn">
            {% if form.instance.pk %}Обновить отзыв{% else %}Отправить отзыв{% endif %}
        </button>
    </form>
</div>
{% endblock %}