{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'cart/css/favorites_list.css' %}">
<h2 class="section-title">Избранное</h2>
<div class="products-list">
    {% if products %}
    {% for product in products %}
    <div class="product-card">
        {% if product.image %}
        <img src="{{ product.image.url }}" alt="{{ product.name }}" class="product-image">
        {% endif %}
        <div class="product-header">
            <span class="product-title">{{ product.name }}</span>
            <span class="product-price">{{ product.price }} ₽{% if product.unit %}/{{ product.unit }}{% endif %}</span>
        </div>
        <div class="product-info">
            <div class="product-row">
                <img src="{% static 'shop/images/weightt.png' %}" alt="bag" class="product-icon">
                <span>{{ product.weight }} кг </span>
            </div>
            <div class="product-row">
                <img src="{% static 'shop/images/cutleryy.png' %}" alt="Количество человек" class="product-icon">
                <span>{{ product.persons_info }} человек </span>
            </div>
        </div>
        <div class="product-actions">
            <a href="{% url 'cart:add_to_cart' product.id %}" class="icon-action" title="Добавить в корзину">
                <img src="{% static 'shop/images/cart.png' %}" alt="Корзина" class="action-icon">
            </a>
            <a href="{% url 'cart:remove_from_favorites' product.id %}" class="icon-action"
               title="Удалить из избранного">
                <img src="{% static 'shop/images/fav-remove.png' %}" alt="Удалить из избранного" class="action-icon">
            </a>
        </div>
        <a href="{% url 'product_detail' product.id %}" class="product-btn">Подробнее</a>
    </div>
    {% endfor %}
    {% else %}
    <p>У вас нет избранных товаров.</p>
    {% endif %}
</div>
{% endblock %}
